<%- include("partials/header")  -%> 
   
   <h1><%=name%></h1>
    
         <div class="card item">
            <img src=<%=src%> class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=name%></h5>
              <p class="card-text"><%=description%></p>
            </div>
          </div>
   
   
   
  <%- include("partials/footer")  -%> 